.menu {
    margin: 1px 0 1px 3px;
    padding: 0;
    background: white;
}

.menu .child-menu {
    border-left: 3px solid #333;
}

.menu li {
    position: relative;
    list-style: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 1px 0;
}

.menu li a {
    display: block;
    padding: 5px 30px 5px 12px;
    text-decoration: none;
    color: #2e2e2e;
    outline: none;
}

.menu li a:hover, .menu li.selected a {
    background: #f1faff;
}

.menu .menu-parent {
    position: relative;
}

.menu .sub-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 8px;
    margin-left: 3px;
    border-left: 1px solid #eee;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ie-user-select: none;
    -o-user-select: none;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    margin-top: 11px;
}

.menu .menu-parent.active > .sub-btn > .arrow {
    border-top: none;
    border-bottom: 5px solid #333;
}

.hidden {
    display: none;
}