.menu {
    margin: 1px 0 1px 3px;
    padding: 0;
    background: white;
    border-left: 3px solid #333;
}

.menu li {
    list-style: none;
}

.menu li a {
    display: block;
    padding: 5px 30px 5px 12px;
    text-decoration: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #2e2e2e;
    outline: none;
    margin: 1px 0;
}

.menu li a:hover, .menu li.selected a {
    background: #f1faff;
}

.menu .menu-parent {
    position: relative;
}

.menu .menu-parent:after {
    content:'';
    position: absolute;
    right: 5px;
    top: 11px;
    width: 0;
    height: 0;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.menu .menu-parent.active:after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid #333;
}

.hidden {
    display: none;
}